{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script src="{% static 'posts/detail.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
{{obj.title}} detail
{% endblock title %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div id="alert-box"></div>
            <form method="POST" action="" id="update-form">
                {% csrf_token %}
                {{form|crispy}}
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">close</button>
                <button type="submit" class="btn btn-success">update</button>
              </div>    
            </form>
        </div>
      </div>
    </div>
</div>    

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete this <b>{{obj.title}}</b>?
        </div>
        <div class="modal-footer">
            <form method="POST" action="" id="delete-form">
                {% csrf_token %}
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">close</button>
                <button type="submit" class="btn btn-success">delete</button>
            </form>
        </div>
      </div>
    </div>
</div>    

{% if obj.get_photos %}

<div id="carouselExample" class="carousel slide mb-2">
    <div class="carousel-inner">
        {% for p in obj.get_photos %}
        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
            <img src="{{p.image.url}}" class="d-block w-100" alt="photo {{obj.pk}}">
        </div>
        {% endfor %}
      
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% else %}
<div class="mt-2 mb2">No Photos to Show</div>
{% endif %}

<button id="back-btn" class="btn btn-info">back</button>
<button id="update-btn" class="btn btn-primary not-visible" data-bs-toggle="modal" data-bs-target="#updateModal">update</button>
<button id="delete-btn" class="btn btn-danger not-visible" data-bs-toggle="modal" data-bs-target="#deleteModal">delete</button>
<div id="spinner-box" class="text-center">
    <div class="spinner-border" role="status"></div>
</div>

<div class="mt-1" id="post-box"></div>
{% endblock content %}